<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <h1>{{title}}</h1>
    <div>
    <a href="{% url 'contact' %}">contact</a>
    <a href="{% url 'about' %}">about</a>
     {% for data in courses %}
    <ul>
        <li>{{data}}</li>
    </ul>
    {% endfor %}
    <div>
        <h1>{{details.name}}, {{details.address}}</h1>
    </div>
</div>
</body>
</html>